.container{
    width: 540px;
    height: 380px;
    background: #f0ebeb;
    margin: auto;
    border: 1px solid #ddd;
}
.bio{
    text-align: center;
}

.bio h2{
    margin: 15px 0;
}

.skill h4, .links h4{
    font-size: large;
    font-weight: 900;
    border-bottom: 1px solid #333;
    text-align: center;
    margin: 15px 0;
    padding: 10px 0;
}

.skill ul li, .links ul li{
    list-style: none;
    font-weight: 500;
    margin: 15px;
    display: inline;
    background: #ddd;
    padding: 8px 15px;
}
.links ul li a{
    text-decoration: none;
    color: #000;
    padding: 10px 0;
}
.links ul li:hover a{
    color: blue
}